<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<div class="container">
    <h1>Change Password</h1>
    <form th:action="@{/process_change_password}" method="post">
        <div>
            <label for="oldPassword">Old Password:</label>
            <input type="password" id="oldPassword" name="oldPassword" required />
        </div>
        <div>
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
