<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Product Manager</title>
</head>
<body>
<div align="center">
  <div>
    <!-- Register Link for Unauthenticated Users -->
    <div th:if="${user == null}">
      <a href="/login">Login</a> |
      <a href="/register">Register</a>
    </div>

    <!-- Display Welcome Message for Authenticated Users -->
    <div th:if="${user != null}">
      <p>Welcome, <b th:text="${user.username}">Username</b>
        <b th:text="${user.role}">Username</b>
        <b th:text="${user}">Username</b>!</p>
      <p>Your roles:</p>
      <p th:if="${user.roles == null}">No roles assigned</p>
      <ul>
        <li th:each="role : ${user.roles}" th:text="${role.name}">Role Name</li>
      </ul>
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
      </form>
    </div>

    <!-- Title -->
    <h1>Product List</h1>

    <!-- Create New Product Link for CREATOR or ADMIN -->
    <div th:if="${user != null and user.role=='admin'}">
      <a th:href="@{/new}">Create New Product</a>
    </div>
    <br/><br/>

    <!-- Product Table -->
    <table border="1" cellpadding="10">
      <thead>
      <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Made In</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <!-- Iterate Over List of Products -->
      <tr th:each="product : ${listProducts}">
        <td th:text="${product.id}">Product ID</td>
        <td th:text="${product.name}">Name</td>
        <td th:text="${product.brand}">Brand</td>
        <td th:text="${product.madein}">Made in</td>
        <td th:text="${product.price}">Price</td>
        <td>
          <!-- Edit Link for EDITOR or ADMIN -->
          <div th:if="${user != null and user.role=='admin'}">
            <a th:href="@{/edit/{id}(id=${product.id})}">Edit</a>
          </div>
          &nbsp;&nbsp;&nbsp;
          <!-- Delete Link for ADMIN -->
          <div th:if="${user != null and user.role=='admin'}">
            <a th:href="@{/delete/{id}(id=${product.id})}">Delete</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
